<a href="https://colab.research.google.com/github/Pradeepsuthar/GitsMLTrainig2020/blob/master/improve_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# data objects or dictionary
data = {
    'Mahendra suthar': (19,'1234567890','Dabok',313022),
    'Pradeep suthar': (21,'8440077147','Udaipur',307022),
    'Vishal suthar': (20,'0987654321','Pindwara',303122)
}

for name,(age,phone_no,address,pin) in data.items():
  # print("Name : %s Age : %d Mobile No. : %s Address : %s,%d"%(name,age,phone_no,address,pin))
  print("%s is %d year old and his from %s,%d and his phone No. is %s."%(name,age,address,pin,phone_no))

Mahendra suthar is 19 year old and his from Dabok,313022 and his phone No. is 1234567890.
Pradeep suthar is 21 year old and his from Udaipur,307022 and his phone No. is 8440077147.
Vishal suthar is 20 year old and his from Pindwara,303122 and his phone No. is 0987654321.

In [16]:
for name,(age,phone_no,address,pin) in data.items():
  if age == 21 and name.startswith('P') and pin == 307022:
    # print("Name : %s Age : %d Mobile No. : %s Address : %s,%d"%(name,age,phone_no,address,pin))
    print("%s is %d year old and his from %s,%d and his phone No. is %s."%(name,age,address,pin,phone_no))

Pradeep suthar is 21 year old and his from Udaipur,307022 and his phone No. is 8440077147.

In [18]:
for name,(age,phone_no,address,pin) in data.items():
  if age != 21:
    continue  
  if not name.startswith('P'):
    continue  
  pin == 307022
  print("%s is %d year old and his from %s,%d and his phone No. is %s."%(name,age,address,pin,phone_no))

Pradeep suthar is 21 year old and his from Udaipur,307022 and his phone No. is 8440077147.

In [22]:
for name,(age,phone_no,address,pin) in data.items():
  if address == 'Udaipur':
    continue
  print("%s is %d year old and his from %s,%d and his phone No. is %s."%(name,age,address,pin,phone_no))

Mahendra suthar is 19 year old and his from Dabok,313022 and his phone No. is 1234567890.
Vishal suthar is 20 year old and his from Pindwara,303122 and his phone No. is 0987654321.

In [24]:
for name,(age,phone_no,address,pin) in data.items():
  if address == 'Udaipur':
    print("%s is %d year old and his from %s,%d and his phone No. is %s."%(name,age,address,pin,phone_no))

Pradeep suthar is 21 year old and his from Udaipur,307022 and his phone No. is 8440077147.

In [90]:
print("Search your name in dic obj.")
sname = input("Enter name : ")

for name,(age,phone_no,address,pin) in data.items():
  name = name.lower()
  sname = sname.lower()
  if name.startswith(sname):
    name = name.title()
    sname = sname.title()
    print("%s is %d year old and his from %s,%d and his phone No. is %s."%(name,age,address,pin,phone_no))
    break
else:
  print("Not found")

Search your name in dic obj.
Enter name : pradeep
Pradeep Suthar is 21 year old and his from Udaipur,307022 and his phone No. is 8440077147.

In [51]:
i = iter(data)

while True:
  try:
    name = next(i)
  except StopIteration:
    break
  print(name)

print()

for name in data:
  print(name)

Mahendra suthar
Pradeep suthar
Vishal suthar

Mahendra suthar
Pradeep suthar
Vishal suthar

In [59]:
a = 10
b = 20

if a == 10 or b == 20:
  print("True")
else:
  print("False")

True

In [65]:
# isinstance()
a = 10.0

print("a is int ?",isinstance(a,int))
print("a is float ?",isinstance(a,float))

a is int ? False
a is float ? True

In [289]:
# Random values
from random import randint
for i in range(100000000):
  random_no = randint(1000000000,9000000000)
  number = str(random_no)
  if number.startswith('8440077'):
    print(random_no)

8440077668
8440077868
8440077991
8440077841
8440077089
8440077356
8440077015
8440077144
8440077979
8440077132
8440077975
8440077245
8440077900

In [219]:
# india's random mobile telephone numbers
from random import randint

random_no = randint(10,100)

for i in range(1000):
  random_no = randint(1000000000,10000000000)
  number = str(random_no)
  first_no = str(randint(90,99))
  if number.startswith(first_no):
    print(random_no)

9833495759
9075224363
9159248199
9149365453
9283755470
9008893733
9918373536
9459126625
9681829848
9602657358

In [226]:
from random import randint

for i in range(10):
  first_no = randint(90,99)
  print(first_no)

97
96
93
96
99
96
94
90
92
93

In [251]:
# List
contact = [8440077147,
        9414449529,
        7976501189,
        9833495759,
        9075224363,
        9159248199,
        9149365453,
        9283755470,
        9008893733,
        9918373536,
        9459126625,
        9681829848,
        9602657358
      ]

myPh = 9414449529

l = []

for ph in contact:
  if ph == myPh:
    continue
  l.append(ph)
print("Contact No.:",l)

Contact No.: [8440077147, 7976501189, 9833495759, 9075224363, 9159248199, 9149365453, 9283755470, 9008893733, 9918373536, 9459126625, 9681829848, 9602657358]

In [270]:
# all combinations of 2 list
xcoor = [0,1,2]
ycoor = [-2,-1,0]

l = []
for x in xcoor:
    for y in ycoor:
        l.append( (x, y) )
print(l)

# or 
print()

print([(x, y) for x in xcoor for y in ycoor])

[(0, -2), (0, -1), (0, 0), (1, -2), (1, -1), (1, 0), (2, -2), (2, -1), (2, 0)]

[(0, -2), (0, -1), (0, 0), (1, -2), (1, -1), (1, 0), (2, -2), (2, -1), (2, 0)]

In [268]:
import json
data = {
    'Mahendra suthar': (19,'1234567890','Dabok',313022),
    'Pradeep suthar': (21,'8440077147','Udaipur',307022),
    'Vishal suthar': (20,'0987654321','Pindwara',303122)
}
print("Type :",type(data))
print("List :",list(data))
print("Set :",set(data))
print("Length :",len(data))
strData = json.dumps(data)
jsonData = json.loads(jsonData)
print("Json :",jsonData)
print("Type of json data ",type(jsonData))
print("Str :",strData)
print("Type of str data ",type(strData))

Type : <class 'dict'>
List : ['Mahendra suthar', 'Pradeep suthar', 'Vishal suthar']
Set : {'Vishal suthar', 'Pradeep suthar', 'Mahendra suthar'}
Length : 3
Json : {'Mahendra suthar': [19, '1234567890', 'Dabok', 313022], 'Pradeep suthar': [21, '8440077147', 'Udaipur', 307022], 'Vishal suthar': [20, '0987654321', 'Pindwara', 303122]}
Type of json data  <class 'dict'>
Str : {"Mahendra suthar": [19, "1234567890", "Dabok", 313022], "Pradeep suthar": [21, "8440077147", "Udaipur", 307022], "Vishal suthar": [20, "0987654321", "Pindwara", 303122]}
Type of str data  <class 'str'>

In [280]:
# 2 list
a1 = [0,1,2,3,4,5]
a2 = [2,4,7,4,1,3]

l = []
for x in a1:
    for y in a2:
      if x == y:
        l.append( (x, y) )
print(l)
print("\nTotal combinations :",len(l))

# or 
print()

print([(x, y) for x in a1 for y in a2])

print("\nTotal combinations :",len([(x, y) for x in a1 for y in a2]))

[(1, 1), (2, 2), (3, 3), (4, 4), (4, 4)]

Total combinations : 5

[(0, 2), (0, 4), (0, 7), (0, 4), (0, 1), (0, 3), (1, 2), (1, 4), (1, 7), (1, 4), (1, 1), (1, 3), (2, 2), (2, 4), (2, 7), (2, 4), (2, 1), (2, 3), (3, 2), (3, 4), (3, 7), (3, 4), (3, 1), (3, 3), (4, 2), (4, 4), (4, 7), (4, 4), (4, 1), (4, 3), (5, 2), (5, 4), (5, 7), (5, 4), (5, 1), (5, 3)]

Total combinations : 36

In [288]:
city1 = ['udaipur','jaipur','jodhapur','kota','mumbai','delhi','goa','singapur','bengaluru']
city2 = ['udaipur','jaipur','jodhapur','kota','mumbai','delhi','goa','singapur','bengaluru']
print([(x, y) for x in city1 for y in city2])

print("\nTotal combinations :",len([(x, y) for x in city1 for y in city2]))

combo = [(x, y) for x in city1 for y in city2]

for i in combo:
  print(i)

[('udaipur', 'udaipur'), ('udaipur', 'jaipur'), ('udaipur', 'jodhapur'), ('udaipur', 'kota'), ('udaipur', 'mumbai'), ('udaipur', 'delhi'), ('udaipur', 'goa'), ('udaipur', 'singapur'), ('udaipur', 'bengaluru'), ('jaipur', 'udaipur'), ('jaipur', 'jaipur'), ('jaipur', 'jodhapur'), ('jaipur', 'kota'), ('jaipur', 'mumbai'), ('jaipur', 'delhi'), ('jaipur', 'goa'), ('jaipur', 'singapur'), ('jaipur', 'bengaluru'), ('jodhapur', 'udaipur'), ('jodhapur', 'jaipur'), ('jodhapur', 'jodhapur'), ('jodhapur', 'kota'), ('jodhapur', 'mumbai'), ('jodhapur', 'delhi'), ('jodhapur', 'goa'), ('jodhapur', 'singapur'), ('jodhapur', 'bengaluru'), ('kota', 'udaipur'), ('kota', 'jaipur'), ('kota', 'jodhapur'), ('kota', 'kota'), ('kota', 'mumbai'), ('kota', 'delhi'), ('kota', 'goa'), ('kota', 'singapur'), ('kota', 'bengaluru'), ('mumbai', 'udaipur'), ('mumbai', 'jaipur'), ('mumbai', 'jodhapur'), ('mumbai', 'kota'), ('mumbai', 'mumbai'), ('mumbai', 'delhi'), ('mumbai', 'goa'), ('mumbai', 'singapur'), ('mumbai', 'bengaluru'), ('delhi', 'udaipur'), ('delhi', 'jaipur'), ('delhi', 'jodhapur'), ('delhi', 'kota'), ('delhi', 'mumbai'), ('delhi', 'delhi'), ('delhi', 'goa'), ('delhi', 'singapur'), ('delhi', 'bengaluru'), ('goa', 'udaipur'), ('goa', 'jaipur'), ('goa', 'jodhapur'), ('goa', 'kota'), ('goa', 'mumbai'), ('goa', 'delhi'), ('goa', 'goa'), ('goa', 'singapur'), ('goa', 'bengaluru'), ('singapur', 'udaipur'), ('singapur', 'jaipur'), ('singapur', 'jodhapur'), ('singapur', 'kota'), ('singapur', 'mumbai'), ('singapur', 'delhi'), ('singapur', 'goa'), ('singapur', 'singapur'), ('singapur', 'bengaluru'), ('bengaluru', 'udaipur'), ('bengaluru', 'jaipur'), ('bengaluru', 'jodhapur'), ('bengaluru', 'kota'), ('bengaluru', 'mumbai'), ('bengaluru', 'delhi'), ('bengaluru', 'goa'), ('bengaluru', 'singapur'), ('bengaluru', 'bengaluru')]

Total combinations : 81
('udaipur', 'udaipur')
('udaipur', 'jaipur')
('udaipur', 'jodhapur')
('udaipur', 'kota')
('udaipur', 'mumbai')
('udaipur', 'delhi')
('udaipur', 'goa')
('udaipur', 'singapur')
('udaipur', 'bengaluru')
('jaipur', 'udaipur')
('jaipur', 'jaipur')
('jaipur', 'jodhapur')
('jaipur', 'kota')
('jaipur', 'mumbai')
('jaipur', 'delhi')
('jaipur', 'goa')
('jaipur', 'singapur')
('jaipur', 'bengaluru')
('jodhapur', 'udaipur')
('jodhapur', 'jaipur')
('jodhapur', 'jodhapur')
('jodhapur', 'kota')
('jodhapur', 'mumbai')
('jodhapur', 'delhi')
('jodhapur', 'goa')
('jodhapur', 'singapur')
('jodhapur', 'bengaluru')
('kota', 'udaipur')
('kota', 'jaipur')
('kota', 'jodhapur')
('kota', 'kota')
('kota', 'mumbai')
('kota', 'delhi')
('kota', 'goa')
('kota', 'singapur')
('kota', 'bengaluru')
('mumbai', 'udaipur')
('mumbai', 'jaipur')
('mumbai', 'jodhapur')
('mumbai', 'kota')
('mumbai', 'mumbai')
('mumbai', 'delhi')
('mumbai', 'goa')
('mumbai', 'singapur')
('mumbai', 'bengaluru')
('delhi', 'udaipur')
('delhi', 'jaipur')
('delhi', 'jodhapur')
('delhi', 'kota')
('delhi', 'mumbai')
('delhi', 'delhi')
('delhi', 'goa')
('delhi', 'singapur')
('delhi', 'bengaluru')
('goa', 'udaipur')
('goa', 'jaipur')
('goa', 'jodhapur')
('goa', 'kota')
('goa', 'mumbai')
('goa', 'delhi')
('goa', 'goa')
('goa', 'singapur')
('goa', 'bengaluru')
('singapur', 'udaipur')
('singapur', 'jaipur')
('singapur', 'jodhapur')
('singapur', 'kota')
('singapur', 'mumbai')
('singapur', 'delhi')
('singapur', 'goa')
('singapur', 'singapur')
('singapur', 'bengaluru')
('bengaluru', 'udaipur')
('bengaluru', 'jaipur')
('bengaluru', 'jodhapur')
('bengaluru', 'kota')
('bengaluru', 'mumbai')
('bengaluru', 'delhi')
('bengaluru', 'goa')
('bengaluru', 'singapur')
('bengaluru', 'bengaluru')

In [286]:
import itertools

p = itertools.product(city1, city2)
cities = list(p)

for i in cities:
  print(i)

('udaipur', 'udaipur')
('udaipur', 'jaipur')
('udaipur', 'jodhapur')
('udaipur', 'kota')
('udaipur', 'mumbai')
('udaipur', 'delhi')
('udaipur', 'goa')
('udaipur', 'singapur')
('udaipur', 'bengaluru')
('jaipur', 'udaipur')
('jaipur', 'jaipur')
('jaipur', 'jodhapur')
('jaipur', 'kota')
('jaipur', 'mumbai')
('jaipur', 'delhi')
('jaipur', 'goa')
('jaipur', 'singapur')
('jaipur', 'bengaluru')
('jodhapur', 'udaipur')
('jodhapur', 'jaipur')
('jodhapur', 'jodhapur')
('jodhapur', 'kota')
('jodhapur', 'mumbai')
('jodhapur', 'delhi')
('jodhapur', 'goa')
('jodhapur', 'singapur')
('jodhapur', 'bengaluru')
('kota', 'udaipur')
('kota', 'jaipur')
('kota', 'jodhapur')
('kota', 'kota')
('kota', 'mumbai')
('kota', 'delhi')
('kota', 'goa')
('kota', 'singapur')
('kota', 'bengaluru')
('mumbai', 'udaipur')
('mumbai', 'jaipur')
('mumbai', 'jodhapur')
('mumbai', 'kota')
('mumbai', 'mumbai')
('mumbai', 'delhi')
('mumbai', 'goa')
('mumbai', 'singapur')
('mumbai', 'bengaluru')
('delhi', 'udaipur')
('delhi', 'jaipur')
('delhi', 'jodhapur')
('delhi', 'kota')
('delhi', 'mumbai')
('delhi', 'delhi')
('delhi', 'goa')
('delhi', 'singapur')
('delhi', 'bengaluru')
('goa', 'udaipur')
('goa', 'jaipur')
('goa', 'jodhapur')
('goa', 'kota')
('goa', 'mumbai')
('goa', 'delhi')
('goa', 'goa')
('goa', 'singapur')
('goa', 'bengaluru')
('singapur', 'udaipur')
('singapur', 'jaipur')
('singapur', 'jodhapur')
('singapur', 'kota')
('singapur', 'mumbai')
('singapur', 'delhi')
('singapur', 'goa')
('singapur', 'singapur')
('singapur', 'bengaluru')
('bengaluru', 'udaipur')
('bengaluru', 'jaipur')
('bengaluru', 'jodhapur')
('bengaluru', 'kota')
('bengaluru', 'mumbai')
('bengaluru', 'delhi')
('bengaluru', 'goa')
('bengaluru', 'singapur')
('bengaluru', 'bengaluru')